@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$background: rgb(255, 255, 255);
$primary-color: rgba(2, 48, 71, 1);
$secondary-background: rgba(2, 48, 71, 1);
$secondary-color: rgb(255, 255, 255);
$main-padding: 1rem;
$border: thin solid rgba(2, 48, 71, 1);
$gradient: linear-gradient(to right, rgb(24, 126, 151), rgba(251, 133, 0, 1));
$links: rgba(251, 133, 0, 1);
$hover: rgba(6, 214, 160, 1);
$secondary-heading: rgb(28, 181, 241);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background;
  color: $primary-color;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

:focus {
  border: none;
  outline: thin solid #147ac9;
}

input,
button {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: $links;
  text-transform: capitalize;

  &:hover {
    color: $hover;
  }
}

form {
  width: 100%;
  padding: 1rem;
}

fieldset {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border-image: $gradient;
  border-image-slice: 1;
}

legend {
  background: $gradient;
  padding: 0 0.5rem;
  font-size: 1.1rem;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

button {
  background: $secondary-background;
  color: $links;
  cursor: pointer;
  padding: 0.4rem;
  font-size: 1.1rem;
  text-transform: capitalize;
  display: block;
  margin-left: auto;

  &:hover {
    color: $hover;
  }
}

label + input {
  display: block;
  width: 100%;
  margin: 0.15rem 0 1.5rem;
  padding: 0.3rem 0.1rem;
  border: $border;
  border-radius: 0.3rem;
}

.personal-info {
  p {
    margin-bottom: 0.15rem;
  }

  label {
    margin-right: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  form {
    width: 55%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  form {
    width: 33%;
  }
}
